# (C) 2011-2021 by Christian Hesse <mail@eworm.de>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

[Unit]
Description=Netlink Notification
Requires=dbus.socket
PartOf=graphical-session.target
# Order after notification daemons to make sure it is stopped before.
After=dunst.service xfce4-notifyd.service
ConditionUser=!@system

[Service]
Type=notify
Restart=on-failure
ExecStart=/usr/bin/netlink-notify

[Install]
WantedBy=default.target
