[Unit]
Description=Netlink Notification
Requires=dbus.socket
ConditionUser=!@system

[Service]
Type=notify
ExecStart=/usr/bin/netlink-notify

[Install]
WantedBy=default.target
